.header{
    height: 100px;
    background-color: #212121;
    .logo{
        img{
            height: 80%;
        }
    }
    .nav{
        ul{
            li{
                a{
                    text-decoration: none;
                    font-size: 14px;
                    color: antiquewhite;
                }
            };
        }
    }
}