.footer{
    padding-top: 15px;
    background-color: #212121;
    color: #fff;
    height: 75px;
    text-align: center;
    justify-content: center;
    h3{
        a{
            text-decoration: none;
            color: bisque;
        }
    }

}