<a fxFlex="100" routerLink="#" class="single-movie">
  <div class="Image-and-rating">
    <div class="image">
      <img
        fxFlex="100"
        src="https://image.tmdb.org/t/p/w342/lQMJHnHxUyj8kJlC2YOKNuzuwMP.jpg"
        alt=""
      />
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="rating">
      <span class="rating-icon">
        <mat-icon  fontIcon="star"></mat-icon>
      </span>
      <span class="rating-text">7.8/10</span>
    </div>
  </div>
  <div class="movie-title">
    {{item?.title
    }}
  </div>
</a>
