.single-movie{
    text-decoration: none;
    color: bisque;
}

.Image-and-rating{
    position: relative;
}

.image{
    position: relative;
}
.rating{
    position: absolute;
    top: 5%;
    background: rgba(3, 3, 3,0.5);
    padding: 0px 2px;
    left: 5%;
    border-radius: 5px;
    height: 20px;
    &-icon{
        top: 3px;
        position: relative;
    }
    &-text{
        font-size: small;
    }
}
.movie-title{
    height: 38px;
    font-size: medium;
    display: block;
    overflow: hidden;
    padding: 5px;
}

.material-icons{
    font-size: small;
}
// .myIcon{
//     position:relative ;
//     top: 0px;
//     left: 0px;

// }

a{
    border: 1px solid pink;
    box-shadow: 2px seashell;
}