<div class="searchBox">
    <span fxFlex="100" class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
            fxFlex="100"
            type="text"
            pInputText
            placeholder="Search"
            [(ngModel)]="SearchValue"
            (ngModelChange)="makeSearch()"
        />
    </span>
</div>

<app-items-banner
    [numberOfMoviesInARow]="5"
    [showableMovieNumber]="20"
    [items]="popularMovies"
></app-items-banner>

<div class="paginator">
    <p-paginator
        [rows]="20"
        [totalRecords]="10000 * 5"
        (onPageChange)="paginate($event)"
        [rowsPerPageOptions]="[100, 200, 300, 400, 500]"
    ></p-paginator>
</div>
