h2{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
p-carousel{
    div{
        padding: 10px;
        img{
            
        }
        h3{
            text-align: center;
            background-color: rgba($color: #4b3f3f, $alpha: 0.9);
            span{
                display: block;
                font-size: smaller;
                line-height: normal;
                padding-bottom: 5px;
                color: #f5eded;
            }
        }
    }
}