<div fxFlex="100" fxLayout="column" fxLayoutAlign="start" class="container">
  <h2>Up Comming Movie</h2>
  <div
    fxFlex="100"
    class="movie-list"
    fxLayout="row wrap"
    fxLayoutAlign="space-between start"
  >
    <app-movie-item fxFlex="19"></app-movie-item>
    <app-movie-item fxFlex="19"></app-movie-item>
    <app-movie-item fxFlex="19"></app-movie-item>
    <app-movie-item fxFlex="19"></app-movie-item>
    <app-movie-item fxFlex="19"></app-movie-item>
    <app-movie-item fxFlex="19"></app-movie-item>
    <app-movie-item fxFlex="19"></app-movie-item>
    <app-movie-item fxFlex="19"></app-movie-item>
    <app-movie-item fxFlex="19"></app-movie-item>
    <app-movie-item fxFlex="19"></app-movie-item>
  </div>
</div>
