.mat-tab-group {
  margin-bottom: 48px;
}


.myTab{
    .mat-tab-label{
        color: yellow;
    }
    
    mat-tab-header {
        align-self: center;
    }
}


.Overview{
    &-area{
        .image{
            object-fit: cover;
            img{
                width: 100%;
            }
        }
    }
}