<section>
  <img
    src="https://image.tmdb.org/t/p/original/Yc9q6QuWrMp9nuDm5R8ExNqbEq.jpg"
    alt=""
    height="100%"
    width="100%"
  />
</section>

<section class="myTab">
  <mat-tab-group mat-stretch-tabs="false">
    <mat-tab label="Overview">
      <div fxFlex="100" class="overview-area">
        <div fxFlex="40" class="image">
          <img
            fxFlex="100"
            src="https://image.tmdb.org/t/p/w342/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg"
            alt=""
          />
        </div>
        <div fxFlex="60" class="meta">
          <h2>Overview</h2>
          <p>
            Framed in the 1940s for the double murder of his wife and her lover,
            upstanding banker Andy Dufresne begins a new life at the Shawshank
            prison, where he puts his accounting skills to work for an amoral
            warden. During his long stretch in prison, Dufresne comes to be
            admired by the other inmates -- including an older prisoner named
            Red -- for his integrity and unquenchable sense of hope.
          </p>
          <div class="meta-data">
            <table>
              <tr>
                <th>Release Date:</th>
                <td>20.12.1974</td>
              </tr>
              <tr>
                <th>Language:</th>
                <td>EN</td>
              </tr>
              <tr>
                <th>Revenue:</th>
                <td>$102,600,000.0</td>
              </tr>
              <tr>
                <th>Duration:</th>
                <td>202 min</td>
              </tr>
              <tr>
                <th>Status:</th>
                <td>Released</td>
              </tr>
              <tr>
                <th>Genres:</th>
                <td>Drama Crime</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Photos">Content 2</mat-tab>
    <mat-tab label="Videos">Content 3</mat-tab>
  </mat-tab-group>
</section>
<p>single-movie works!</p>
