.mat-tab-group {
  margin-bottom: 48px;
}


.myTab{
    margin-top: 20px;
    .mat-tab-label{
        color: yellow;
    }
    
    mat-tab-header {
        align-self: center;
    }
}


.overview-area{
    margin-top: 15px;
    .image{
        padding: 10px;
        object-fit: cover;
        img{
            width: 100%;
            padding: 5px;
            align-items: center;
            text-align: center;
            border: 3px solid;
        }
    }
    .meta{
        padding: 10px;
        h2{
            margin-top: 10px;
        }
        p{
            font-size: medium;
        }

        &-data{
            table{
                font-size: medium;
                line-height: 26px;
                margin-top: 10px;
                tr{
                    th{
                        text-align: left;
                    }
                    td{
                        text-align: left;
                    }
                }
            }
        }
    }
}

.photo-area{
    .single-photo{
        padding: 5px;
    }
}

.genres{
    &:not(:last-child):after {
        content: '|';
        margin-left: 5px;
        margin-right: 5px;
    }
}